.paint-container {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
  border-radius: 12px;
  overflow: hidden;
}

.metallic-card {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.metallic-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}